@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

/*KEYFRAMES*/
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/*@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(30px) scale(1);
    }
} */

#logo{
    height: 60px;
    border-radius: 10%;
    cursor: pointer;
}

#navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0 30px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #FF204E;
}

button {
    padding: 9px 25px;
    background-color: #D2DE32;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color:#FF204E;
    transition: all 0.3s ease 0s;
}

li , a, button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

header{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#ul1{
    display: flex;
}

#text{
    color: #173B45;
    font-size: x-large;
    padding-top: 10%;
    text-align: justify;
    padding-inline: 10px;
    background-color: #B5C0D0;
    border-radius: 20%;
    animation: fade-up 3s;
}

#text1{
    color: #173B45;
    font-size: x-large;
    padding-top: 15%;
    text-align: justify;
    padding-inline: 10px;
    background-color: #CCD3CA;
    border-radius: 20%;

}

#text2{
    color: #173B45;
    font-size: x-large;
    padding-top: 10%;
    text-align: justify;
    padding-inline: 10px;
    background-color: #B5C0D0;   
    border-radius: 20%;
    
}


#img1{
    height: 500px;
    border-radius: 30px;
    background-clip: padding-box;
    animation: fade-up 2s;
}

#img2{
    height: 730px;
    border-radius: 30px;
    background-clip: padding-box;
    /* to rotate the image from top  */
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg)
}

#img3{
    height: 543px;
    border-radius: 30px;
    background-clip: padding-box;
    /* to rotate the image from top */
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg)
}

.button1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}